In [1]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [2]:
print(mongo.list_database_names())

['admin', 'config', 'local']

In [3]:
my_first_db = mongo['my_db']
print(mongo.list_database_names())

['admin', 'config', 'local']

In [4]:
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()

[]

In [5]:
my_first_collection.insert_one({'name':'Mickey'})

In [6]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [7]:
my_first_collection.insert_one({'name':'Minnie', 'age':'90'})

In [8]:
results = my_first_collection.find()
for i in results:
    print(i)

{'_id': ObjectId('635e0d6e62b05653321c7c9d'), 'name': 'Mickey'}
{'_id': ObjectId('635e0d6e62b05653321c7c9e'), 'name': 'Minnie', 'age': '90'}

In [9]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

In [10]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('635e0d6e62b05653321c7c9d'), 'name': 'Mickey'}
{'_id': ObjectId('635e0d6e62b05653321c7c9e'), 'name': 'Minnie', 'age': '90'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}

In [11]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('635e0d6e62b05653321c7c9d'), 'name': 'Mickey'}
{'_id': ObjectId('635e0d6e62b05653321c7c9e'), 'name': 'Minnie', 'age': '90'}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('635e0d6e62b05653321c7c9f'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('635e0d6e62b05653321c7ca0'), 'name': 'Daisy', 'species': 'duck'}

In [12]:
query = {'name':'Donald'}
results = my_first_collection.find(query)
for i in results:
    print(i)

{'_id': ObjectId('635e0d6e62b05653321c7c9f'), 'name': 'Donald', 'species': 'duck'}

In [13]:
query = {'species':'duck'}
results = my_first_collection.find(query)
for i in results:
    print(i)

{'_id': ObjectId('635e0d6e62b05653321c7c9f'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('635e0d6e62b05653321c7ca0'), 'name': 'Daisy', 'species': 'duck'}

In [14]:
query = {'age':{'$gt':85}}
results = my_first_collection.find(query)
[i for i in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]